*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0
}

body {
  line-height: calc(1em + .5rem);
  -webkit-font-smoothing: antialiased
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%
}

button,
input,
select,
textarea {
  font: inherit
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  overflow-wrap: break-word
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance
}