---
import "@fontsource-variable/outfit";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="shortcut icon" href="/favicon.png" type="image/png" />
		<meta name="generator" content={Astro.generator} />
		<title>Frontend Mentor | QR code component by Alan Santos</title>
	</head>
	<body class="bg-slate-300">
		<slot />
	</body>
</html>
