---
import "../styles/global.css";
import "@fontsource-variable/nunito-sans";

import ThemeHeadScript from "../components/ThemeHeadScript.astro";
import Navigation from "../components/Navigation.astro";

const { pageTitle = "Where in the world?" } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<ThemeHeadScript />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
		<meta
			name="description"
			content="Explore data from over 250 countries (population, region, capital, flags) via a free REST API. Filter by region and toggle between light and dark themes."
		/>
	</head>
	<body class="bg-neutral-50 text-black dark:bg-gray-800 dark:text-white">
		<Navigation />
		<slot />
	</body>
</html>
