@import "tailwindcss";

@theme {
  --color-blue-500: #3685ff;
  --color-blue-600: #2c7dfa;

  --color-slate-300: oklch(90.49% 0.023 252.18);
  --color-slate-500: oklch(56.5% 0.039 257.87);
  --color-slate-900: oklch(31.34% 0.059 260.17);

  --font-sans: "Outfit Variable", sans-serif;
}

@layer components {
  .footer-link {
    @apply text-lime-500 transition duration-300 ease-linear hover:tracking-wide hover:text-lime-300;
  }

  .qrcode-button {
    @apply flex h-9 w-9 shrink-0 cursor-pointer list-none items-center justify-center rounded border border-white/25 p-1 text-white/50 duration-200 ease-in-out hover:border-white/50 hover:text-white/75 focus:border-white/75 focus:text-white;
  }
}
